body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* css cho sign in sign up */

.App {
  text-align: center;
}

.SignInSignUp {
  height: 130vh;
  color: white;
}

.SignInSignUp {
  height: 100%;
}

.SignInSignUp__Form {
  width: 100%;
  background-color: black;
  padding-top: 10px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4c5d72;
  color: #9da6b1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #66dac7;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 10px;
}

.FormTitle {
  color: #707c8b;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707c8b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: white;
}
.FormField__Input {
  text-justify: center;
  width: 75%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616e7f;
}

.FormField__Button {
    background-color: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: 0.8em;
    font-weight: 500;
}

.FormField__Link {
  color: #66707d;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225e62;
  padding-bottom: 5px;
  cursor: pointer;
}

.FormField__Link:hover {
  color: #66dac7;
  border-bottom: 1.5px solid #66dac7;
}

.FormField__CheckboxLabel {
  color: #646f7d;
  font-size: 0.9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

/* css cho sign in sign up */

/* css cho phần header */
:root {
  --main-red: rgba(211, 9, 19);
  --main-dark: rgba(20, 20, 20);
  --main-deep-dark: rgba(0, 0, 0);
  --main-grey: rgba(152, 153, 153);
  --mainr-red-hover: #e50914;
  --primary-color: #0c1226;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  -webkit-font-smoothing: antialiased;
  background: var(--main-dark);
  color: #fff;
}

a {
  text-decoration: none;
}

.Login-btn {
  right: 0;
  margin: 1.25rem 3% 0;
  padding: 0.4375rem 1.0625rem;
  font-weight: 400;
  line-height: normal;
  border-radius: 0.1875rem;
  font-size: 1rem;
  background: var(--main-red);
  position: absolute;
  translate: transform(-50%, -50%);
  cursor: pointer;
  transition: background 0.2s ease-in;
  color: white;
  text-decoration: none;
  border: 0px;
}

.Login-btn:hover {
  background: var(--mainr-red-hover);
}

/* logo */
.header-top img {
  width: 13rem;
  height: 6.5rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-top {
  position: relative;
  height: 10rem;
  z-index: 1;
}

.header-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 7)),
    url("./assets/poster.jpg") no-repeat center center/cover;
}

.header-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 4.375rem 3.125rem 11.875rem #000,
    insert -0.375rem -3.125rem -11.875rem;
}

.header-content {
  color: white;
}

.header-content h1 {
  margin: 0 0 1.2rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1em;
}
/* css cho phần header */

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: 700;
  border: 0px;
  background: #ffffff;
  font-size: 2em;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.close-button-container {
  text-align: end;
}

.username {
  color: white;
  font-weight: 800;
  font-size: 1.5em;
}

.App {
  overflow: hidden;
  background: var(--primary-color);
}

.card {
  position: relative;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  text-align: left;

  font-size: 18px;
  background: rgba(0, 0, 0, 0.6);
}

.content div {
  font-size: 18px;
  color: white;
}

div.ant-card-body {
  padding: 0;
  background: rgba(0, 0, 0, 0.2);
}

/* css cho phan list item */
.listItemCenter {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-around;
}

div.itemNewMovie {
  width: 60%;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(
    to right,
    #201c29,
    #201c29 1px,
    #100e17 1px,
    #100e17
  );
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff8a00, #da1b60);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

i {
  color: red;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

div.ant-row {
  width: 100%;
}
.itemRatMovie {
  width: 20%;
  height: 1500px;
  overflow: scroll;
}
/* css cho nav */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-container {
  display: flex;
  justify-content: center;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.input-group input {
  /* border: 1px solid ; */
  width: 150px;
}

.App-header {
  /* background-color: 100vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar ul {
  display: flex;
}

.nav-logo {
  display: flex;
  background-color: black;
}

.nav-logo h6 {
  color: white;
}

.list-nav {
  list-style: none;
  padding-left: 40px;
}

.drop-list-item {
  text-decoration: none;
  color: white;
}

.list-item:focus {
  color: blanchedalmond;
}

.search {
  margin-left: 730px;
  margin-top: 15px;
  width: 170px;
  height: 30px;
  background-color: black;
  border: none;
  border-bottom: solid white 1px;
}
/* css cho phần details */
.rmdb-movieinfo {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  height: 600px;
  padding: 40px 20px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;
}

@keyframes animateMovieinfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rmdb-movieinfo-content {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.7);
  position: relative;
}

.rmdb-movieinfo-thumb {
  width: 350px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
}

.rmdb-movieinfo-text {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: auto;
  padding: 40px;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  left: 360px;
}

.rmdb-movieinfo-text h1 {
  font-family: "Abel", sans-serif;
  font-size: 48px;
  margin: 0;
}

.rmdb-movieinfo-text h3 {
  font-size: 16px;
  line-height: 0;
  margin-top: 30px;
}

.rmdb-movieinfo-text p {
  font-family: "Abel", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.rmdb-rating {
  width: 250px;
  height: 20px;
  margin-top: 20px;
  position: relative;
}

.rmdb-score {
  position: absolute;
  margin: 0;
  right: 0px;
  top: -3px;
}

.rmdb-director {
  margin: 0;
}

.fa-film {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #fff;
}

meter::-webkit-meter-bar {
  background: #fff;
  width: 200px;
}
meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, #16d47b);
}
meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, #fbb450);
}
meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, #ee5f5b);
}

.rmdb-movieinfo-actor .image-thumbnail img {
  width: 60%;
}

.rmdb-movieinfo-actor {
  margin-left: 100px;
}

.rmdb-movieinfo-actor h2 {
  margin-left: 20px;
}
/* css cho phần details */

.nav-bar ul {
  display: flex;
}

a.nav-link {
  padding: 0;
}

.nav-logo {
  display: flex;
  background-color: black;
}

.nav-logo h6 {
  color: white;
}

.list-nav {
  list-style: none;
  padding-left: 40px;
}

.drop-list-item {
  text-decoration: none;
  color: white;
}

.list-item:focus {
  color: blanchedalmond;
}

div.dropdown {
  display: flex;
  align-items: center;
}
div.dropdown #basic-nav-dropdown {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.search {
  margin-left: 730px;
  margin-top: 15px;
  width: 170px;
  height: 30px;
  background-color: black;
  border: none;
  border-bottom: solid white 1px;
}


/* CSS Footer */
*{
    margin: 0;
    padding: 0;
}
 
.footer {
    width: 100%;
    height: 300px;
    background-color: #0c1226;
    display: block;
    
}
 
.social-links {
    /* margin-left: 190px; */
    /* padding-left: 20px; */
    padding-top: 40px;
}
 
a {
    text-decoration: none;
    cursor: pointer;
    color: grey;
    margin-left: 10px;
    
}
 
 .member-footer-link-wrapper {
     list-style: none;
     line-height: 35px;
     padding-left: 50px;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
 }
 
 
 .member-footer {
    max-width: 980px;
    margin: 20px auto 0;
    padding: 0 4%;
    color: grey;
}
 
.member-footer .member-footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 0 14px 0;
    padding: 0;
}
 
.member-footer-link-wrapper span:link{
    text-decoration: none;
}
 
.member-footer-link-wrapper span:hover{
    text-decoration: underline;
}
 
.footer-copyright {
    font-size: 14px;
    color: grey;
    /* padding-left: 250px; */
}